<!DOCTYPE html>
<html>
<head>
  <title>Devmaker rails sdk</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "devmaker_rails_sdk/application", media: "all" %>
  <%= javascript_include_tag "devmaker_rails_sdk/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
